<% unless @posts.nil? %>
  <% @posts.each do |post| %>
    <p>
      <table class="table table-bordered table-striped">
        <tr>
          <th>title</th>
          <th>text</th>
          <th>id</th>
          <th>photos</th>
          <th>actions</th>
        </tr>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.id %></td>
          <td>
            <% if post.attachments.any? %>
              <% post.attachments.each do |attachment| %>
                <%= image_tag(attachment_path(attachment.id, thumb: true)) %>
              <% end %>
            <% else %>
              <p>There are no attachments..</p>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", edit_post_path(post), remote: true, class: "btn btn-link" %>|
            <%= link_to "Delete", post, remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %>
          </td>
        </tr>
      </table>
    </p>
  <% end %>
<% else %>
  <p>There are no posts..</p>
<% end %>
