<% unless @posts.nil? %>
  <% @post.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td>
        <%= image_tag(post.image, alt: 'Image') %>
      </td>
      <td><%= link_to "Edit", edit_post_path(post), remote: true %></td>
    </tr>
  <% end %>
<% else %>
  <p>There are no posts..</p>
<% end %>
<p><%= link_to "New post", new_post_path %></p>
