  <div class="modal-dialog">
    <div class="modal-content">

      <% if @posts.any? %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title"><%= t(:found_result, scope: :post) %></h4>
        </div>
        <div class="modal-body">
          <div class="row">

            <% @posts.each do |post| %>

          	<div>
            	<div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to post.title, post, remote: true %>
                </div>
                <div class="panel-body">
                  <%= sanitize post.content[0..300] %> ...
                </div>
              </div>
          	</div>

            <% end %>

          </div>
          <div class="modal-footer">
            <%= t(:found_count, scope: :post) %>
            <%= @posts.count %>
          </div>
        </div>

      <% else %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title"><%= t(:found_nothing, scope: :post) %></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>
                  <%= t(:found_nothing_query, scope: :post) %>
                  <%= "'#{params[:search]}'" %>
                </h4>
              </div>
            </div>
          </div>
        </div>

      <% end %>

  </div>
</div>
